# IDE
.vscode/
.idea/
*.iml

# Android
android/.gradle/
android/build/
**/local.properties
**/gradle-wrapper.jar
**/captures/
**/*.keystore
**/*.keystore.jks
**/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
Runner.build/
DerivedData/

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Web cache
.dart_tool/

# Windows/Linux builds
windows/x64/
windows/runner/Release/
linux/build/

# Fastlane / artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter SDK (não incluir no repositório)
flutter/

# Caches
.ccls-cache/
.kotlin/
**/errors/

# Archives
_archive/.replit
